<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <!-- true a propósito: esta carpeta tiene el build viejo, con DLLs de
         Microsoft.IdentityModel 6.35 cuya fecha es MÁS NUEVA que los 7.1.2 del
         paquete. Con false, la publicación los omite por fecha y la app da 500
         al validar el token del hub. Ya nos pasó en MEAXS066. -->
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>\\MEAXS013\inetpub\meaxTransfer</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
</Project>